@import "tailwindcss";
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-inter: var(--font-inter), ui-sans-serif, system-ui;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

.ad-layout-whole{
    @apply flex h-screen
}

.ad-layout-first{
    @apply flex flex-col flex-1
}

.ad-layout-second{
    @apply flex-1 overflow-y-auto bg-gray-50 p-6
}